{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    // Strict mode
    "strict": [1, "global"],
    "no-extra-strict": 0,

    // Code style
    "indent": [1, 2],
    "quotes": [2, "single"],
    "semi": [1, "never"],
    "no-use-before-define": 1
  }
}
